<!-- Pricing Start -->
<section class="section pricing" id="section-pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<span class="h5 text-color text-uppercase">
					Cjenik
				</span>
				<h3 class="mb-5 mt-2">Paketi instrukcija iz matematike</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="card border-0 rounded-0 shadow-lg text-center p-4 mb-5 mb-lg-0">
					<div class="card-header">
						<span class="package d-inline-block text-capitalize">60 minuta</span>
						<h3 class="price mt-4 font-weight-bold">20€ <small class="text-color text-sm"> / 60min</small></h3>
						<p>Najbolje za kraće instrukcije ili brzu pomoć s gradivom.</p>
					</div>

					<div class="card-body">
						<ul class="text-left mt-3 mb-4">
							<li>Individualni pristup</li>
							<li>Pomoć oko zadataka</li>
							<li>Priprema za testove</li>
						</ul>

						<!-- <a href="#" class="btn btn-outline-primary">select plan</a> -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card border-0 rounded-0 shadow-lg text-center p-4 mb-5 mb-lg-0">
					<div class="card-header">
						<span class="package d-inline-block text-capitalize">90 minuta</span>
						<h3 class="price mt-4 font-weight-bold">30€ <small class="text-color text-sm"> / 90min</small></h3>
						<p>Idealno za temeljitiju pripremu i obradu težeg gradiva.</p>
					</div>

					<div class="card-body">
						<ul class="text-left mt-3 mb-4">
							<li>Temeljita analiza zadataka</li>
							<li>Priprema za testove ili ispravke</li>
							<li>Rješavanje zadataka iz kompleksnijih područja</li>
						</ul>

						<!-- <a href="#" class="btn btn-outline-primary">select plan</a> -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card border-0 rounded-0 shadow-lg text-center p-4">
					<div class="card-header">
						<span class="package d-inline-block text-capitalize">120 minuta</span>
						<h3 class="price mt-4 font-weight-bold">40€ <small class="text-color text-sm"> / 120min</small></h3>
						<p>Savršeno za one koji žele temeljitu pripremu za ispit ili duboko razumijevanje matematike.</p>
					</div>

					<div class="card-body">
						<ul class="text-left mt-3 mb-4">
							<li>Opsežno rješavanje problema</li>
							<li>Dugoročna priprema za maturu ili natjecanja</li>
							<li>Sveobuhvatna priprema za testove</li>
							<li>Prilagođen program prema potrebama učenika</li>
						</ul>

						<!-- <a href="#" class="btn btn-outline-primary">select plan</a> -->
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Pricing End -->